<template>
    <div class="create-diet-form">
        <b-overlay :show="isLoading"
                   :blur="overlay.blur"
                   :variant="overlay.variant"
                   :spinner-variant="overlay.spinner_variant"
                   rounded="sm"
        >
            <b-card class="mb-3">
                <b-form @submit.prevent="onSubmit">
                    <b-form-group
                            label="Name"
                            label-for="name"
                            label-class="font-weight-bold mb-0"
                            :invalid-feedback="nameInvalidFeedback"
                            :state="nameState"
                    >
                        <b-form-input
                                id="name"
                                v-model="name"
                                type="text"
                                placeholder="Enter name"
                                :state="nameState"
                        ></b-form-input>
                    </b-form-group>

                    <b-form-group
                            label="Description"
                            label-for="description"
                            :invalid-feedback="descriptionInvalidFeedback"
                            :state="descriptionState"
                    >
                        <b-form-textarea
                                id="description"
                                v-model="description"
                                placeholder="Enter description"
                                :state="descriptionState"
                        ></b-form-textarea>
                    </b-form-group>

                    <b-row>
                        <b-col col md="3">
                            <b-form-group
                                    label="Proteins"
                                    label-for="proteins"
                                    label-class="font-weight-bold mb-0"
                                    :invalid-feedback="proteinsInvalidFeedback"
                                    :state="proteinsState"
                            >
                                <b-form-input
                                        id="proteins"
                                        v-model.number="proteins"
                                        placeholder="Enter proteins demand"
                                        :state="proteinsState"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col col md="3">
                            <b-form-group
                                    label="Carbohydrates"
                                    label-for="carbs"
                                    label-class="font-weight-bold mb-0"
                                    :invalid-feedback="carbsInvalidFeedback"
                                    :state="carbsState"
                            >
                                <b-form-input
                                        id="carbs"
                                        v-model.number="carbs"
                                        placeholder="Enter carbs"
                                        :state="carbsState"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col col md="3">
                            <b-form-group
                                    label="Fats"
                                    label-for="fats"
                                    label-class="font-weight-bold mb-0"
                                    :invalid-feedback="fatsInvalidFeedback"
                                    :state="fatsState"
                            >
                                <b-form-input
                                        id="fats"
                                        v-model.number="fats"
                                        placeholder="Enter fats"
                                        :state="fatsState"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                        <b-col col md="3">
                            <b-form-group
                                    label="Calories"
                                    label-for="calories"
                                    label-class="font-weight-bold mb-0"
                                    :invalid-feedback="caloriesInvalidFeedback"
                                    :state="caloriesState"
                            >
                                <b-form-input
                                        id="calories"
                                        v-model.number="calories"
                                        placeholder="Enter calories"
                                        :state="caloriesState"
                                ></b-form-input>
                            </b-form-group>
                        </b-col>
                    </b-row>

                    <b-button variant="primary" type="submit">Create a diet</b-button>

                </b-form>
            </b-card>
        </b-overlay>
    </div>
</template>

<script>
    import {required} from 'vuelidate/lib/validators'
    import maxLength from "vuelidate/src/validators/maxLength";
    import decimal from "vuelidate/src/validators/decimal";
    import minValue from "vuelidate/src/validators/minValue";

    export default {
        name: 'CreateDietForm',
        components: {},
        data() {
            return {
                name: '',
                description: '',
                proteins: 0,
                carbs: 0,
                fats: 0,

                overlay: {
                    blur: '',
                    variant: 'white',
                    spinner_variant: 'primary'
                },

                isLoading: false,
                isError: false
            }
        },
        computed: {
            calories: function () {
                return 4 * (this.proteins + this.carbs) + 9 * this.fats
            },
            nameInvalidFeedback: function () {
                if (!this.$v.name.required) {
                    return 'Name is required'
                }
                return '';
            },
            nameState: function () {
                if (!this.$v.name.$dirty) {
                    return null;
                }
                return !this.$v.name.$invalid;
            },
            descriptionInvalidFeedback: function () {
                if (this.$v.description.maxLength) {
                    return 'Description cannot be longer than 500'
                }
                return '';
            },
            descriptionState: function () {
                if (!this.$v.description.$dirty) {
                    return null;
                }
                return !this.$v.description.$invalid;
            },
            proteinsInvalidFeedback: function () {
                if (!this.$v.proteins.required) {
                    return 'Proteins cannot be blank'
                } else if (!this.$v.proteins.decimal) {
                    return 'Proteins must be a valid decimal value'
                } else if (!this.$v.proteins.minValue) {
                    return 'Proteins must be greater than 0'
                }
                return '';
            },
            proteinsState: function () {
                if (!this.$v.proteins.$dirty) {
                    return null;
                }
                return !this.$v.proteins.$invalid;
            },
            carbsInvalidFeedback: function () {
                if (!this.$v.carbs.required) {
                    return 'Carbs cannot be blank'
                } else if (!this.$v.carbs.decimal) {
                    return 'Carbs must be a valid decimal value'
                } else if (!this.$v.carbs.minValue) {
                    return 'Carbs must be greater than 0'
                }
                return '';
            },
            carbsState: function () {
                if (!this.$v.carbs.$dirty) {
                    return null;
                }
                return !this.$v.carbs.$invalid;
            },
            fatsInvalidFeedback: function () {
                if (!this.$v.fats.required) {
                    return 'Fats cannot be blank'
                } else if (!this.$v.fats.decimal) {
                    return 'Fats must be a valid decimal value'
                } else if (!this.$v.fats.minValue) {
                    return 'Fats must be greater than 0'
                }
                return '';
            },
            fatsState: function () {
                if (!this.$v.fats.$dirty) {
                    return null;
                }
                return !this.$v.fats.$invalid;
            },
            caloriesInvalidFeedback: function () {
                if (!this.$v.calories.required) {
                    return 'Calories cannot be blank'
                } else if (!this.$v.calories.decimal) {
                    return 'Calories must be a valid decimal value'
                } else if (!this.$v.calories.minValue) {
                    return 'Calories must be greater than 0'
                }
                return '';
            },
            caloriesState: function () {
                if (!this.$v.calories.$dirty) {
                    return null;
                }
                return !this.$v.calories.$invalid;
            }
        },
        methods: {
            onSubmit: async function () {
                this.$v.$touch();

                if (!this.$v.$invalid) {
                    this.isLoading = true;
                    this.isError = false;

                    try {
                        await this.$store.dispatch('createDiet', {
                            name: this.name,
                            description: this.description,
                            proteins: this.proteins,
                            carbs: this.carbs,
                            fats: this.fats,
                            calories: this.calories
                        });
                        this.$toast.success('Diet has been created!')
                        this.$emit('created');
                    } catch (error) {
                        this.isError = true;
                        this.$toast.danger('There was an error')
                    } finally {
                        this.isLoading = false;
                    }

                }
            }
        },
        validations: {
            name: {
                required
            },
            description: {
                maxLength: maxLength(500)
            },
            proteins: {
                required,
                decimal,
                minValue: minValue(1)
            },
            carbs: {
                required,
                decimal,
                minValue: minValue(1)
            },
            fats: {
                required,
                decimal,
                minValue: minValue(1)
            },
            calories: {
                required,
                decimal,
                minValue: minValue(1)
            }
        },
        mounted: function () {
        }
    }
</script>
