<template>
    <div class="diet-progress-bar">
        <b-progress :max="4 * (proteins + carbs) + 9 * fats" :id="'calories-progress-' + id">
            <b-progress-bar variant="info" :value="proteins * 4">
                <span class="d-none d-md-inline">Proteins - {{ proteins }}g</span>
                <span class="d-inline d-md-none">{{ proteins }}g</span>
            </b-progress-bar>
            <b-progress-bar variant="danger" :value="carbs * 4">
                <span class="d-none d-md-inline">Carbs - {{ carbs }}g</span>
                <span class="d-inline d-md-none">{{ carbs }}g</span>
            </b-progress-bar>
            <b-progress-bar variant="warning" :value="fats * 9">
                <span class="d-none d-md-inline">Fats - {{ fats }}g</span>
                <span class="d-inline d-md-none">{{ fats }}g</span>
            </b-progress-bar>
        </b-progress>

        <b-tooltip :target="'calories-progress-' + id" triggers="hover" placement="bottom">
            Total diet calories: {{ calories }}
        </b-tooltip>
    </div>
</template>

<script>
    export default {
        name: 'DietProgressBar',
        components: {},
        props: {
            id: Number,
            proteins: Number,
            carbs: Number,
            fats: Number,
            calories: Number,
        },
        data() {
            return {
            }
        },
        methods: {

        },
        mounted: function () {
        }
    }
</script>
