<template>
    <div class="diet-macros-bars">
        <strong>Proteins:</strong> <small>{{ proteins.toFixed(1) }} / {{ dietProteins.toFixed(1) }}</small>
        <b-progress :max="dietProteins" class="mb-1">
            <b-progress-bar :value="proteins" variant="info" :animated="proteins > dietProteins">
                <strong v-if="proteins > dietProteins">{{ (proteins - dietProteins).toFixed(1) }}g too many</strong>
            </b-progress-bar>
        </b-progress>

        <strong>Carbs:</strong> <small>{{ carbs.toFixed(1) }} / {{ dietCarbs.toFixed(1) }}</small>
        <b-progress :max="dietCarbs" class="mb-1">
            <b-progress-bar :value="carbs" variant="danger" :animated="carbs > dietCarbs">
                <strong v-if="carbs > dietCarbs">{{ (carbs - dietCarbs).toFixed(1) }}g too many</strong>
            </b-progress-bar>
        </b-progress>

        <strong>Fats:</strong> <small>{{ fats.toFixed(1) }} / {{ dietFats.toFixed(1) }}</small>
        <b-progress :max="dietFats" class="mb-1">
            <b-progress-bar :value="fats" variant="warning" :animated="fats > dietFats">
                <strong v-if="fats > dietFats">{{ (fats - dietFats).toFixed(1) }}g too many</strong>
            </b-progress-bar>
        </b-progress>

        <strong>Calories:</strong> <small>{{ calories }} / {{ dietCalories }}</small>
        <b-progress :max="dietCalories">
            <b-progress-bar :value="calories" variant="primary" :animated="calories > dietCalories">
                <strong v-if="calories > dietCalories">{{ (calories - dietCalories).toFixed(0) }}kcal too many</strong>
            </b-progress-bar>
        </b-progress>
    </div>
</template>

<script>
    export default {
        name: 'DietMacrosBars',
        components: {},
        props: {
            id: Number,
            proteins: Number,
            dietProteins: Number,
            carbs: Number,
            dietCarbs: Number,
            fats: Number,
            dietFats: Number,
            calories: Number,
            dietCalories: Number
        },
        data() {
            return {
            }
        },
        methods: {

        },
        mounted: function () {
        }
    }
</script>
