<template>
    <div id="add-product-to-meal">
        <label for="newProduct" class="font-weight-bold">Find a product:</label>
        <input v-model="query"
               id="newProduct"
               class="form-control form-control-sm"
               @keyup="handleProductSearchInput"
               autocomplete="off"
               placeholder="Type product's name (min. 3 characters)"
               v-focus
        />
        <b-overlay :show="loading" rounded="sm" spinner-variant="primary">
            <b-list-group class="mb-2">
                <b-list-group-item button v-for="product in products" class="p-0 pl-2" :key="product.id" @click="selectProduct(product)">
                    {{ product.name }}
                    <span class="float-right mr-2">
                        <b-badge variant="info">Proteins</b-badge> <small class="mr-2">{{ product.proteins.toFixed(1) }}</small>
                        <b-badge variant="danger">Carbs</b-badge> <small class="mr-2">{{ product.carbs.toFixed(1) }}</small>
                        <b-badge variant="warning">Fats</b-badge> <small class="mr-2">{{ product.fats.toFixed(1) }}</small>
                        <b-badge variant="primary">Calories</b-badge> <small>{{ product.calories }}</small>
                    </span>
                </b-list-group-item>
                <span v-if="showNotFoundMessage" class="p-0 pl-2 mt-2 text-center">
                    No products found!
                </span>
            </b-list-group>
        </b-overlay>
    </div>
</template>

<script>
    import { debounce } from 'vue-debounce'

    export default {
        data() {
            return {
                products: [],
                query: '',
                loading: false,
                isSearched: false
            }
        },
        computed: {
            showNotFoundMessage: function () {
                return this.products.length === 0 && this.isSearched;
            }
        },
        methods: {
            handleProductSearchInput: debounce(async function () {
                if (this.query.length < 3) {
                    this.products = [];
                    this.isSearched = false;
                    return;
                }
                this.loading = true;
                this.isSearched = true;
                try {
                    const response = await this.$store.dispatch('searchForProduct', {name: this.query});
                    this.products = response.data.results;
                } catch (error) {
                    this.$toast.success(`Something went wrong!`);
                } finally {
                    this.loading = false;
                }
            }, 1000),
            selectProduct: function (product) {
                this.$emit('product-added', product);
                this.products = [];
                this.query = '';
            }
        },
        props: {
        },
        created: function () {
        },
        mounted() {
        },
    }
</script>

<style>
</style>
