<template>
    <div>
        <b-input-group
                v-if="editMealNameMode"
                class="mb-2"
        >
            <b-form-input
                    v-model="newMealName"
                    @keyup.enter="confirmNewMealName"
                    v-focus
            >
            </b-form-input>
            <b-input-group-append>
                <b-button variant="primary" @click="confirmNewMealName">
                    <b-icon-check></b-icon-check>
                </b-button>
            </b-input-group-append>
        </b-input-group>
        <h4 v-else class="mb-0 pointer" title="Edit meal name">
            <span @click="editMealName">{{ meal.name }}</span>
            <div class="float-right" @click="deleteMeal">
                <b-icon-x></b-icon-x>
            </div>
        </h4>

        <b-card class="mb-4 shadow-sm">
            <table class="table table-sm table-responsive-sm">
                <thead>
                <tr>
                    <th scope="col">
                        Product name
                    </th>
                    <th scope="col">
                        Weight (g)
                    </th>
                    <th scope="col">Proteins</th>
                    <th scope="col">Carbs</th>
                    <th scope="col">Fats</th>
                    <th scope="col">Calories</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="product in meal.products" :key="product.id">
                    <td>{{ product.name }}</td>
                    <td @click="changeQuantity(meal, product)" class="pointer" title="Click to edit">
                        <b-input-group size="sm" v-if="isProductEdited(meal.id, product.id)">
                            <b-form-input
                                    v-model.number="editedProductQuantity"
                                    @keyup.enter="confirmQuantity"
                                    :state="quantityState"
                                    autofocus>
                            </b-form-input>
                            <b-input-group-append class="d-none d-sm-block">
                                <b-button
                                        variant="primary"
                                        @click.stop="confirmQuantity"
                                >
                                    <b-icon-check></b-icon-check>
                                </b-button>
                            </b-input-group-append>
                        </b-input-group>
                        <span v-else>{{ product.quantity }}</span>
                    </td>
                    <td>{{ product.proteins.toFixed(1) }}</td>
                    <td>{{ product.carbs.toFixed(1) }}</td>
                    <td>{{ product.fats.toFixed(1) }}</td>
                    <td>{{ product.calories }}</td>
                    <td @click="removeProductFromMeal(meal.id, product.id)" class="pointer">
                        <b-icon-x></b-icon-x>
                    </td>
                </tr>
                <tr>
                    <th scope="col">Total</th>
                    <th scope="col">{{ getTotalSummary('quantity', meal) }}</th>
                    <th scope="col">{{ getTotalSummary('proteins', meal) }}</th>
                    <th scope="col">{{ getTotalSummary('carbs', meal) }}</th>
                    <th scope="col">{{ getTotalSummary('fats', meal) }}</th>
                    <th scope="col">{{ getTotalSummary('calories', meal) }}</th>
                    <th scope="col"></th>
                </tr>
                </tbody>
            </table>
            <b-button v-if="!addProductMode" variant="primary" size="sm" @click="toggleAddProduct">Add product
            </b-button>
            <AddProductToMeal @product-added="onProductAdded" v-else/>
        </b-card>
    </div>
</template>

<script>
    import AddProductToMeal from "./AddProductToMeal";
    import minValue from "vuelidate/src/validators/minValue";
    import maxValue from "vuelidate/src/validators/maxValue";

    export default {
        data() {
            return {
                editedProduct: null,
                editedProductMeal: null,
                editedProductQuantity: 0,

                newMealName: '',
                editMealNameMode: false,

                addProductMode: false
            }
        },
        computed: {
            quantityState: function () {
                return !this.$v.editedProductQuantity.$invalid;
            }
        },
        methods: {
            deleteMeal: async function () {
                try {
                    await this.$store.dispatch('deleteMeal', {id: this.meal.id});
                    this.$toast.success(`Meal has been deleted`);
                    this.$emit('meal-deleted', this.meal.id);
                } catch (error) {
                    this.$toast.error(`Meal has not been deleted!`);
                }
            },
            confirmNewMealName: async function () {
                if (this.meal.name !== this.newMealName) {
                    try {
                        const response = await this.$store.dispatch('changeMealName', {
                            id: this.meal.id,
                            name: this.newMealName
                        });
                        this.$toast.success(`Meal name has been successfully updated!`);
                        this.meal.name = response.data.name;
                    } catch (error) {
                        this.$toast.error(`Meal name has not been updated!`);
                    }
                }
                this.editMealNameMode = false;
            },
            editMealName: function () {
                this.editMealNameMode = true;
                this.newMealName = this.meal.name;
            },
            onProductAdded: function (product) {
                this.addProductMode = false;
                if (this.isProductAlreadyInMeal(product)) {
                    this.changeQuantity(this.meal, product);
                } else {
                    this.$emit('product-added', {product: product, meal: this.meal});
                }
            },
            isProductAlreadyInMeal: function (product) {
                const existingProducts = this.meal.products.filter((prod) => product.id === prod.id);

                if (existingProducts.length) {
                    product.quantity = existingProducts[0].quantity;
                }

                return existingProducts.length;
            },
            getTotalSummary: function (type, meal) {
                let sum = 0;

                meal.products.forEach(function (product) {
                    if (type !== 'quantity') {
                        sum += product[type];
                    } else {
                        sum += Number((product[type]));
                    }
                });

                if (type === 'calories' || type === 'quantity') {
                    return Math.round(sum);
                } else {
                    return sum.toFixed(1);
                }
            },
            toggleAddProduct: function () {
                this.addProductMode = !this.addProductMode;
            },
            isProductEdited: function (mealId, productId) {
                if (this.editedProduct === null || this.editedProductMeal === null) {
                    return false;
                }
                return this.editedProduct.id === productId && this.editedProductMeal.id === mealId;
            },
            removeProductFromMeal: function (mealId, productId) {
                this.$store.dispatch('removeProductFromMeal', {id: mealId, productId: productId});
                this.$emit('product-removed', {mealId, productId});
                this.$toast.success(`Product has been successfully removed!`)
            },
            changeQuantity: function (meal, product) {
                this.editedProduct = product;
                this.editedProductMeal = meal;
                this.editedProductQuantity = product.quantity;
            },
            confirmQuantity: async function () {
                if (!this.quantityState) {
                    return;
                }
                if (this.editedProductQuantity !== this.editedProduct.quantity) {
                    try {
                        const response = await this.$store.dispatch('changeProductQuantityInMeal', {
                            mealId: this.editedProductMeal.id,
                            productId: this.editedProduct.id,
                            quantity: this.editedProductQuantity
                        });
                        this.$toast.success(`Product weight has been successfully updated!`);
                        this.meal.products = response.data.products;
                    } catch (error) {
                        this.$toast.error(`Product weight has not been updated!`);
                    }
                }

                this.editedProduct = null;
                this.editedProductMeal = null;
            }
        },
        props: {
            meal: Object
        },
        created: function () {
        },
        components: {
            AddProductToMeal
        },
        mounted() {
        },
        validations: {
            editedProductQuantity: {
                minValue: minValue(1),
                maxValue: maxValue(5000)
            }
        }
    }
</script>

<style>
</style>
