<template>
    <b-navbar toggleable="lg" type="light" class="navbar-laravel">
        <b-container>
            <b-navbar-brand to="/">
                <strong class="text-primary">Nutrimate</strong>
            </b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto" v-if="isLogged">
                    <b-nav-item-dropdown right>
                        <template v-slot:button-content>
                            {{ user.email }}
                        </template>
                        <b-dropdown-item @click="logout">Sign Out</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>
        </b-container>
    </b-navbar>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: 'Navbar',
        props: {
            msg: String
        },
        computed: {
            ...mapGetters(['isLogged', 'user'])
        },
        methods: {
            logout: function () {
                this.$store.dispatch('logout');
                this.$router.push('/login');
            }
        }
    }
</script>

<style scoped lang="scss">
    .navbar-laravel {
        background-color: #fff !important;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    }
</style>
