<template>
    <div id="sidebar" class="mb-3">
        <span class="text-muted">
            Dashboard
        </span>
        <b-list-group>
            <b-list-group-item to="/diets" :active="route.startsWith('/diets')">
                <b-icon-clipboard-data></b-icon-clipboard-data>
                My diets
            </b-list-group-item>

            <b-list-group-item to="/products" :active="route.startsWith('/products')">
                <b-icon-egg></b-icon-egg>
                Products
            </b-list-group-item>
        </b-list-group>
    </div>
</template>

<script>
    export default {
        name: 'Sidebar',
        computed: {
            route: function () {
                return this.$route.fullPath;
            }
        },
    }
</script>

<style scoped>
    .navbar-laravel {
        background-color: #fff !important;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    }
</style>
