<template>
    <div class="diet-detail">
        <b-overlay :show="isLoading"
                   :blur="overlay.blur"
                   :variant="overlay.variant"
                   :spinner-variant="overlay.spinner_variant"
                   rounded="sm"
        >
            <h3 v-if="diet">
                <span>{{ diet.name }}</span>
            </h3>
            <b-card class="mb-4 shadow-sm">
                <div v-if="diet">
                    <DietMacrosBars
                        :proteins="actualProteins"
                        :diet-proteins="diet.proteins"
                        :carbs="actualCarbs"
                        :diet-carbs="diet.carbs"
                        :fats="actualFats"
                        :diet-fats="diet.fats"
                        :calories="actualCalories"
                        :diet-calories="diet.calories"
                    />
                </div>
            </b-card>
        </b-overlay>

        <div class="meal-summary-wrapper" v-if="diet">
            <MealSummary
                    v-for="meal in diet.meals"
                    :key="meal.id"
                    :meal="meal"
                    @product-removed="onProductRemove"
                    @product-added="onProductAdded"
                    @meal-deleted="onMealDeleted"
            />
        </div>
        <b-button variant="primary" size="sm" class="mb-3" @click="addMeal" block>Add new meal</b-button>
    </div>
</template>

<script>
    import DietMacrosBars from "../components/diet/DietMacrosBars";
    import MealSummary from "../components/meal/MealSummary";

    export default {
        name: 'DietDetails',
        data() {
            return {
                diet: null,
                overlay: {
                    blur: '',
                    variant: 'white',
                    spinner_variant: 'primary'
                },

                isLoading: true
            }
        },
        computed: {
            actualProteins: function () {
                let proteins = 0;
                this.diet.meals.forEach((meal) => {
                    meal.products.forEach((product) => {
                        proteins += parseFloat(product.proteins);
                    })
                });
                return proteins;
            },
            actualCarbs: function () {
                let carbs = 0;
                this.diet.meals.forEach((meal) => {
                    meal.products.forEach((product) => {
                        carbs += parseFloat(product.carbs);
                    })
                });
                return carbs;
            },
            actualFats: function () {
                let fats = 0;
                this.diet.meals.forEach((meal) => {
                    meal.products.forEach((product) => {
                        fats += parseFloat(product.fats);
                    })
                });
                return fats;
            },
            actualCalories: function () {
                return parseInt((this.actualProteins + this.actualCarbs) * 4 + this.actualFats * 9);
            }
        },
        methods: {
            onMealDeleted: function (id) {
                this.diet.meals = this.diet.meals.filter(meal => meal.id !== id);
            },
            addMeal: async function () {
                try {
                    const response = await this.$store.dispatch('createMeal', {
                        name: 'Nowy posiłek',
                        diet: this.diet.id
                    });
                    this.$toast.success(`New meal has been created!`);
                    this.diet.meals.push({
                        ...response.data,
                        products: []
                    });

                } catch (error) {
                    this.$toast.error(`Meal has not been created!`);
                }

            },
            onProductRemove: function (payload) {
                this.diet.meals.forEach(meal => {
                    if (meal.id === payload.mealId) {
                        meal.products = meal.products.filter(product => product.id !== payload.productId);
                        return false;
                    }
                });
            },
            onProductAdded: function (payload) {
                this.$store.dispatch('addProductToMeal', {id: payload.meal.id, productId: payload.product.id});

                this.diet.meals.forEach(meal => {
                    if (meal.id === payload.meal.id) {
                        const {product} = payload;
                        const quantity = 100;
                        const calculatedProduct = {
                            id: product.id,
                            name: product.name,
                            proteins: product.proteins,
                            carbs: product.carbs,
                            fats: product.fats,
                            calories: product.calories,
                            quantity: quantity
                        };
                        meal.products = [...meal.products, calculatedProduct];
                        return false;
                    }
                })
            }
        },
        components: {DietMacrosBars, MealSummary},
        created: async function () {
            const response = await this.$store.dispatch('getDiet', {id: this.$route.params.id});
            this.diet = response.data;
            this.isLoading = false;
        },

    }
</script>
