<template>
    <div class="diets">
        <div class="d-flex flex-row-reverse">
            <b-button variant="primary" size="sm" class="mb-2" @click="toggleShowForm" v-if="!showForm">
                Add a diet
            </b-button>
            <b-button variant="secondary" size="sm" class="mb-2" @click="toggleShowForm" v-else>
                Cancel
            </b-button>
        </div>

        <CreateDietForm v-if="showForm" @created="toggleShowForm"/>

        <b-card v-for="diet in diets" :key="diet.id" class="mb-3 shadow-sm">
            <h3>
                <span class="pointer" @click="goToDetails(diet.id)">{{ diet.name }}</span>
                <b-icon-x class="text-muted float-right pointer" @click="showRemoveModal(diet.id)"></b-icon-x>
            </h3>
            <b-card-text>
                {{ diet.description }}
            </b-card-text>

            <template v-slot:footer>
                <DietProgressBar
                        :id="diet.id"
                        :proteins="diet.proteins"
                        :carbs="diet.carbs"
                        :fats="diet.fats"
                        :calories="diet.calories"
                />

                <b-modal :id="'remove-modal-' + diet.id" :title="diet.name" ok-title="Delete" @ok="removeDiet(diet.id)">
                    <p class="my-4">This diet will be deleted. Are you sure?</p>
                </b-modal>
            </template>
        </b-card>

    </div>
</template>

<script>
    import CreateDietForm from '@/components/diet/CreateDietForm';
    import {mapState} from "vuex";
    import DietProgressBar from "../components/diet/DietProgressBar";

    export default {
        name: 'Diets',
        components: {DietProgressBar, CreateDietForm},
        data() {
            return {
                showForm: false
            }
        },
        computed: {
            ...mapState(['diets'])
        },
        methods: {
            goToDetails: function (id) {
                this.$router.push({name: 'DietDetail', params: {id}});
            },
            showRemoveModal: function (modalId) {
                this.$bvModal.show('remove-modal-' + modalId);
            },
            removeDiet: function (dietId) {
                this.$store.dispatch('removeDiet', {id: dietId})
            },
            toggleShowForm: function () {
                this.showForm = !this.showForm;
            }
        },
        mounted: function () {
            this.$store.dispatch('getDiets');
        }
    }
</script>

<style>
    .pointer {
        cursor: pointer;
    }
</style>
