<template>
    <b-row>
        <b-col md="4" offset-md="4">
            <b-overlay :show="isLoading"
                       :blur="overlay.blur"
                       :variant="overlay.variant"
                       :spinner-variant="overlay.spinner_variant"
                       rounded="sm"
            >
                <b-card class="mt-3">
                    <b-alert variant="danger" :show="isError">Invalid credentials!</b-alert>

                    <template v-slot:header>
                        <h6 class="mb-0">Login</h6>
                    </template>
                    <b-form @submit.prevent="onSubmit">
                        <b-row>
                            <b-col>
                                <label for="email">Email</label>
                                <b-form-input id="email" placeholder="Enter email" :state="emailState"
                                              v-model="email"></b-form-input>
                                <b-form-invalid-feedback id="email-feedback-email" v-if="!$v.email.email">
                                    Invalid email
                                </b-form-invalid-feedback>
                                <b-form-invalid-feedback id="email-feedback-required" v-if="!$v.email.required">
                                    Email is required
                                </b-form-invalid-feedback>
                            </b-col>
                        </b-row>
                        <b-row class="mt-3">
                            <b-col col>
                                <label for="password">Password</label>
                                <b-form-input type="password" id="password" placeholder="Enter password"
                                              :state="passwordState" v-model="password"></b-form-input>
                                <b-form-invalid-feedback id="password-feedback" v-if="!$v.password.required">
                                    Password is required
                                </b-form-invalid-feedback>
                            </b-col>
                        </b-row>

                        <b-row class="mt-4">
                            <b-col col>
                                <b-button type="submit" variant="primary" block>Login</b-button>
                            </b-col>
                        </b-row>
                    </b-form>
                </b-card>
            </b-overlay>
        </b-col>
    </b-row>
</template>

<script>
    import {required, email} from 'vuelidate/lib/validators'
    import axios from 'axios';
    export default {
        name: 'Login',
        components: {},
        computed: {
            emailState: function () {
                if (!this.$v.email.$dirty)
                    return null;
                return !this.$v.email.$invalid;
            },
            passwordState: function () {
                if (!this.$v.password.$dirty)
                    return null;
                return !this.$v.password.$invalid;
            },
        },
        data() {
            return {
                email: '',
                password: '',
                overlay: {
                    blur: '',
                    variant: 'white',
                    spinner_variant: 'primary'
                },
                isLoading: false,
                isError: false
            }
        },
        methods: {
            onSubmit: async function () {
                this.$v.$touch();
                if (this.$v.$invalid) {
                    return;
                }
                this.isLoading = true;

                try {
                    await this.$store.dispatch('login', {
                        email: this.email,
                        password: this.password
                    });
                    this.isError = false;
                    this.$router.push('/diets');
                    this.$toast.success('Login successful!');
                    axios.defaults.headers.common['Authorization'] = `Bearer ${this.$store.getters.token}`;
                } catch (error) {
                    this.isError = true;
                    this.$v.$reset();
                } finally {
                    this.isLoading = false;
                }

            }
        },
        validations: {
            email: {
                required,
                email
            },
            password: {
                required,
            }
        }
    }
</script>
