<template>
  <div class="products d-flex flex-column align-items-center">
    <h2 class="text-muted">On my todo list!</h2>
    <img src="https://media3.giphy.com/media/j2wpZyLy2s70ul4TKo/giphy.gif">
  </div>
</template>
