<template>
    <div id="app">
        <Navbar class="mb-3"/>
        <b-container>
            <b-row v-if="isAuthRoute">
                <b-col>
                    <router-view/>
                </b-col>
            </b-row>
            <b-row v-else>
                <b-col md="3">
                    <Sidebar/>
                </b-col>
                <b-col md="9">
                    <router-view/>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
    import Navbar from '@/components/layout/Navbar';
    import Sidebar from '@/components/layout/Sidebar';
    import axios from 'axios';

    export default {
        components: {Navbar, Sidebar},
        computed: {
            isAuthRoute: function () {
                const routeName = this.$route.name;
                return ['Login'].includes(routeName);
            }
        },
        created: function() {
            axios.defaults.headers.common['Authorization'] = `Bearer ${this.$store.getters.token}`;
        }
    }

</script>

<style lang="scss">
</style>
